In [1]:

import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

In [2]:
import yfinance as yahooFinance

In [15]:
data = yahooFinance.Ticker("AMZN")

In [16]:
data = amazon.history(period = 'max')

In [36]:
data.tail(15)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,O-C,H-L
Date,,,,,,,,,
2023-06-29 00:00:00-04:00,128.770004,129.259995,127.260002,127.900002,40761000,0.0,0.0,0.870003,1.999992
2023-06-30 00:00:00-04:00,129.470001,131.250000,128.949997,130.360001,54310500,0.0,0.0,-0.889999,2.300003
2023-07-03 00:00:00-04:00,130.820007,131.850006,130.070007,130.220001,28264800,0.0,0.0,0.600006,1.779999
2023-07-05 00:00:00-04:00,130.240005,131.399994,129.639999,130.380005,35895400,0.0,0.0,-0.139999,1.759995
2023-07-06 00:00:00-04:00,128.250000,128.729996,127.370003,128.360001,40639900,0.0,0.0,-0.110001,1.359993
2023-07-07 00:00:00-04:00,128.589996,130.970001,128.130005,129.779999,41928700,0.0,0.0,-1.190002,2.839996
2023-07-10 00:00:00-04:00,129.070007,129.279999,125.919998,127.129997,61889300,0.0,0.0,1.940010,3.360001
2023-07-11 00:00:00-04:00,127.750000,129.770004,127.349998,128.779999,49951500,0.0,0.0,-1.029999,2.420006
2023-07-12 00:00:00-04:00,130.309998,131.259995,128.830002,130.800003,54022800,0.0,0.0,-0.490005,2.429993
2023-07-13 00:00:00-04:00,134.039993,134.669998,132.710007,134.300003,61170900,0.0,0.0,-0.260010,1.959991
2023-07-14 00:00:00-04:00,134.059998,136.649994,134.059998,134.679993,54388100,0.0,0.0,-0.619995,2.589996
2023-07-17 00:00:00-04:00,134.559998,135.619995,133.210007,133.559998,48450200,0.0,0.0,1.000000,2.409988
2023-07-18 00:00:00-04:00,132.710007,133.860001,131.350006,132.830002,54969100,0.0,0.0,-0.119995,2.509995
2023-07-19 00:00:00-04:00,133.389999,135.990005,132.529999,135.360001,54531000,0.0,0.0,-1.970001,3.460007
2023-07-20 00:00:00-04:00,134.070007,134.789993,129.330002,129.960007,59601200,0.0,0.0,4.110001,5.459991

In [37]:
data= data.dropna()

In [20]:
data['O-C']= data.Open-data.Close ## We see differences with open and close price
data['H-L']= data.High-data.Low   ## We can see differences high and low

X= data[['O-C', 'H-L']] ## take the this data for x 

Y= np.where(data['Close'].shift(-1)>data['Close'], 1, -1)

In [35]:
X.tail(10)

                                O-C       H-L
Date
2023-07-07 00:00:00-04:00 -1.190002  2.839996
2023-07-10 00:00:00-04:00  1.940010  3.360001
2023-07-11 00:00:00-04:00 -1.029999  2.420006
2023-07-12 00:00:00-04:00 -0.490005  2.429993
2023-07-13 00:00:00-04:00 -0.260010  1.959991
2023-07-14 00:00:00-04:00 -0.619995  2.589996
2023-07-17 00:00:00-04:00  1.000000  2.409988
2023-07-18 00:00:00-04:00 -0.119995  2.509995
2023-07-19 00:00:00-04:00 -1.970001  3.460007
2023-07-20 00:00:00-04:00  4.110001  5.459991

In [27]:
print(len(data))

6588

In [28]:
ratio= 0.9
spliting= int(ratio*len(data))

X_train, Y_train= X[:spliting], Y[:spliting]  #for training

X_test, Y_test = X[spliting:], Y[spliting:]  #for testing

In [29]:
print(len(X_train),len(Y_train))

5929 5929

In [30]:
print(len(X_test),len(Y_test))

659 659

In [39]:
#model creating and fit the model

model= LogisticRegression()

model= model.fit(X_train, Y_train)

In [40]:
#accuracy test
accuracy= model.score(X_test, Y_test)

In [41]:
print(accuracy*100)

50.3793626707132